/* style.css för bishbosh */

body{
    padding:2rem;
}
.navbar{
    padding: 1rem;
    border-radius: 1rem;
    border: 0.5rem solid rgb(116, 117, 117);
}
.row {
    padding-top: 2rem;
}
#btnAdd {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
#result {
    padding: 2rem;
    margin-top: 2rem;
}
.ruta {
    background-color:rgb(34, 34, 34);
    color: white;
    border-radius: 0.5rem;
    padding-left:1rem;
}

.ruta2 {
    background-color:rgb(42, 99, 93);
    color: white;
    border-radius: 0.5rem;
    padding-left:1rem;
    margin-bottom: 2rem;
}

h2 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#btnAdd{
    background-color: rgb(42, 99, 93);
    color:white
}
footer {
    border: 0.5rem solid rgb(116, 117, 117);
    border-radius: 1rem;
}
.textChange {
    text-decoration-line: line-through;
    background-color: rgb(41, 167, 154);
}
#add p {
    padding: 0.5rem;
    border-radius: 0.5rem;
}
#add {
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.show {
    visibility: visible;
}
.hide {
    visibility: hidden;
}

.btn-danger{
    float: right;
    border-radius: 0.5rem;
    max-height: fit-content;
}
.listStyle {
    min-height: 2rem;
    max-height: 5rem;
}

